.title {
  margin-right: 30px;
  margin-left: 40px;
  margin-top: 15px;
  width: 60px;
  height: 60px;
}

.navbar {
  background-color: rgb(241, 238, 234);
  display: flex;
  align-items: center;
}

ul {
  margin-left: 40%;
}
li a {
  margin: 0 30px;
  font-family: "Abril Fatface";
  color: rgb(73, 14, 14);
}
.navbar-top {
  display: flex;
  align-items: center;
}

.navbar ul li {
  display: inline;
}

.navbar-2 {
  display: inline;
}

.menu {
  margin-left: 50px;
  padding: 0px;
  display: flex;
}

ul {
  align-items: center;
}
.menu li {
  display: inline;
  list-style: none;
  padding: 10px;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

.all {
  display: flex;
  margin-right: 50px;
  margin-top: 5%;
}
.all .text .portrait {
  display: inline-block;
}

.text {
  size: 25px;
  text-align: justify;
  width: 50%;
  font-family: "Amatic SC", cursive;
}

.portrait {
  margin-left: 18%;
  height: 360px;
  width: 360px;
}
