body {
  background-color: rgb(38, 38, 54);
}

/*Menu*/

.title {
  width: 7%;
  height: 7%;
}
/*Menu*/

.idphoto {
  width: 300px;
  height: 300px;
  margin-left: 140px;
}

.navbar {
  background-color: rgb(241, 238, 234);
  display: flex;
  align-items: center;
}

ul {
  display: inline-block;
  width: -167px;
}

li a {
  margin: 0 30px;
  font-family: "Abril Fatface";
  color: rgb(73, 14, 14);
}
.navbar-top {
  display: flex;
  align-items: center;
}

.allabout {
  display: flex;
  margin-left: 180px;
  margin-top: 5%;
}
.all .lorem .portrait {
  display: inline-block;
}

.lorem {
  size: 25px;
  margin-top: 90px;
  text-align: justify;
  width: 50%;
  color: rgb(217, 229, 230);
  font-family: "Amatic SC", cursive;
}

.portrait {
  margin-left: 18%;
  height: 100%;
  width: 100%;
}
