body {
  background-color: rgb(38, 38, 54);
}

.title {
  margin-right: 30px;
  margin-left: 40px;
  margin-top: 15px;
  width: 30%;
  height: 30%;
}

.navbar {
  background-color: rgb(241, 238, 234);
  display: flex;
  align-items: center;
}

ul {
  margin-left: 40%;
}
li a {
  margin: 0 30px;
  font-family: "Abril Fatface";
  color: rgb(73, 14, 14);
}
.navbar-top {
  display: flex;
  align-items: center;
}

.all {
  display: flex;
  margin-right: 50px;
  margin-top: 5%;
  padding-top: 160px;
}
.all .lorem .portrait {
  display: inline-block;
}

.lorem {
  size: 25px;
  text-align: justify;
  width: 50%;
  color: rgb(217, 229, 230);
  font-family: "Amatic SC", cursive;
}

.portrait {
  margin-left: 18%;
  height: 100%;
  width: 100%;
}
