* {
  box-sizing: border-box;
}
body {
  margin: 5px;

  background-color: rgb(241, 238, 234);
}

.categories-image {
  height: 70px;
}

img .icon {
  height: 50px;
  opacity: 0.5;
  transition: transform 0.2s;
}

.icon:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.iconcontainer {
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-left: 170px;
  margin-top: 80px;
}
