* {
  box-sizing: border-box;
}
body {
  margin: 5px;
  background-color: rgb(38, 38, 54);
}

.categories-image {
  height: 120px;
}

img .icon {
  height: 50px;
  opacity: 0.5;
  transition: transform 0.2s;
}

.icon:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.iconcontainer {
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-left: 190px;
  margin-top: 12px;
  padding-top: 160px;
}
