footer {
  background-color: rgb(38, 38, 54);
  height: 20px;
  position: relative;
  font-size: 17px;
  margin-top: 90%;
  margin-left: 50%;
}

.rs-container2 {
  padding: 0;
  margin: 0;
}
.rs-container2 .rsicon {
  padding: 4px;
}
.rs-container2 li {
  display: inline;
  list-style: none;
}

/* next code*/
