.form {
}
.sidepic {
  width: 90%;
  height: 90vh;
  margin-top: 10px;
  margin-left: 192px;
  position: fixed;
}

.formbody {
  margin-top: 130px;
  margin-left: 530px;
  position: absolute;
  height: 470px;
  border-radius: 4px;
  padding: 12px 12px 12px 12px;
  background-color: rgb(226, 225, 219);
}

input[type="text"],
select,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin: 5px;
}

textarea {
  height: 200px;
  width: 680px;
}
.radio {
  display: inline-block;
}

input[type="submit"] {
  background-color: #29412a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #5f7c62;
}

.container {
  margin-top: -550px;
  border-radius: 5px;
  background-color: rgb(241, 238, 234);
  padding: 20px;
  width: 30%;
  margin-left: 30%;
  margin-bottom: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
}
