* {
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 38, 54);
}

.gallery {
  background-color: rgb(38, 38, 54);

  grid-gap: 15px;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
  padding: 5px;
}

img {
  margin: 5px;
}

.photo {
  margin: 5px;
}
/* Create four equal columns that sits next to each other */
.column {
  max-width: 100vh;
  padding: 0 4px;
  height: 90vh;
  margin: 5px;
  padding-top: 200px;
  margin-left: 150px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 40%;
  height: 60%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
