* {
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 38, 54);
}

.gallery {
  background-color: rgb(38, 38, 54);
  grid-gap: 15px;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
  padding: 5px;
}

img {
  margin: 4px;
  border-radius: 9px;
  opacity: 1;
}

img:hover {
  margin: 4px;
  border-radius: 9px;
  opacity: 0.3;
  cursor: pointer;
}
.photo {
  margin: 5px;
}
/* Create four equal columns that sits next to each other */
.column {
  height: 90vh;
  margin: 5px;
  padding-top: 200px;
}

.row {
  flex-wrap: nowrap;
  margin-left: 20px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  height: auto;
}

.columnmed {
  height: 90vh;
  margin: 5px;
  padding-top: 200px;
  padding-left: 130px;
}

.columnmed img {
  margin-top: 8px;
  vertical-align: middle;
  height: 60%;
}

.photomed {
  margin: 5px;
  opacity: 1;
}

.photomed:hover img {
  margin: 5px;
  opacity: 0.3;
  cursor: pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnmed {
    flex: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnmed {
    flex: 100%;
  }
}
