* {
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 38, 54);
}

.gallery {
  background-color: rgb(38, 38, 54);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  margin-left: 150px;
}

.row {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: 0 4px;
  align-content: flex-start;
  height: 90vh;
}
img .icon {
}

.photo {
  width: 650px;
  height: 550px;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 100%;
  max-width: 100vh;
  padding: 0 4px;
  width: 990vh;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
