.all {
  margin-left: 20%;
  margin-right: 50px;
  margin-top: 5%;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

p {
  text-align: justify;
  font-size: 25px;
  text-align: justify;
  width: 50%;
  font-family: "Amatic SC", cursive;
}
