.allmentions {
  margin-left: 20%;
  margin-right: 50px;

  background-color: rgb(38, 38, 54);
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

p {
  text-align: justify;
  font-size: 25px;
  text-align: justify;
  width: 50%;
  font-family: "Amatic SC", cursive;
}

.mentions {
  width: 130vh;
  color: rgb(224, 213, 213);
}
