nav {
  width: 1200px;
}
.navbar {
  margin-bottom: 40px;
  position: fixed;
  width: 1800px;
  margin-top: -16px;
}

.header-title-logo {
  margin-bottom: 70px;
  margin-top: 10px;
  margin-left: 60px;
}

.title {
  background-color: rgb(38, 38, 54);
  margin-left: 50%;
  height: 80%;
  margin-bottom: 30px;
  margin-right: -140px;
}

.textlogo {
  display: inline;
  color: azure;
  font-size: 19px;
  font-weight: bolder;
  text-decoration: none;
  margin-left: 75px;
  margin-top: 40px;

  font-family: "Amatic SC", cursive;
}

p .textlogo {
  margin-left: 55px;
}

.header-navbar {
  margin-top: 120px;
  margin-left: -750px;
}

.navbar-top {
  background-color: rgb(38, 38, 54);
  display: flex;
  align-items: center;
}

.navbar ul li {
  background-color: rgb(38, 38, 54);
  display: inline;
  text-decoration: none;
}
li a {
  font-family: "Abril Fatface";
  text-decoration: none;
}

div .navbar {
  background-color: rgb(38, 38, 54);
  display: flex;
  align-items: center;
  z-index: 1000;
  margin-left: 20px;
}

ul .rs-container {
  display: inline-block;
  margin-right: 45px;
  margin-top: -54px;
  text-decoration: none;
}

.rs-container .rsicon {
  display: inline-block;
  padding: 5px;
}

ul li img .rsicon {
  display: inline-block;
  padding: 5px;
  margin-left: 23px;
  padding-left: 34px;
}

.rsicon {
  height: 25px;
  width: 25px;
}

a:visited {
  color: #d8d5df;
  text-decoration: none;
  width: auto;
}

a:link {
  color: #d8d5df;
  text-decoration: none;
  width: auto;
}

a:hover {
  color: #d8d5df;
  text-decoration: none;
  width: auto;
}

a:active {
  color: #d8d5df;
  text-decoration: none;
  width: auto;
}
