img .title {
  background-color: rgb(38, 38, 54);
  margin-right: 30px;
  margin-left: 40px;
  margin-top: 15px;
  height: 30%;
}

.textlogo {
  display: inline;
  color: azure;
  font-size: 22px;
  font-weight: bolder;
  margin-left: -60px;
  text-decoration: none;
  font-family: "Amatic SC", cursive;
}

p {
  text-decoration: none;
}

div .navbar {
  background-color: rgb(38, 38, 54);
  display: flex;
  align-items: center;
  z-index: 1000;
  margin-left: 20px;
}

ul .navbar-top {
  margin-right: -30%;
  text-decoration: none;
}
li a {
  margin: 0 50px;
  font-family: "Abril Fatface";
  text-decoration: none;
}

a:visited {
  color: #d8d5df;
  text-decoration: none;
}

a:link {
  color: #d8d5df;
  text-decoration: none;
}

a:hover {
  color: #d8d5df;
  text-decoration: none;
}

a:active {
  color: #d8d5df;
  text-decoration: none;
}

.navbar-top {
  background-color: rgb(38, 38, 54);
  display: flex;
  align-items: center;
  margin-left: 39%;
}

.navbar ul li {
  background-color: rgb(38, 38, 54);
  display: inline;
  text-decoration: none;
}
