nav .allnavbar {
  background-color: rgb(38, 38, 54);
}

.title {
  background-color: rgb(38, 38, 54);
  margin-right: 30px;
  margin-left: 40px;
  margin-top: 15px;
  height: 20%;
}

img .title {
  height: 70px;
}
.textlogocontainer {
  width: 190px;
  height: 90px;
  margin-left: 90px;
}

p {
  width: 100%;
}
.textlogo {
  font-size: 20px;
  font-weight: bolder;
}
div .navbar {
  background-color: rgb(38, 38, 54);
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  margin-left: 20px;
}

ul .navbar-top {
  margin-left: -20%;
}
li a {
  margin: 0 50px;
  font-family: "Abril Fatface";
}

a:visited {
  color: #d8d5df;
}

.navbar-top {
  background-color: rgb(38, 38, 54);
  display: flex;
  align-items: center;
  margin-left: 39%;
}

.navbar ul li {
  background-color: rgb(38, 38, 54);
  display: inline;
}
