body {
  margin: 5px;
  position: relative;
  background-color: rgb(38, 38, 54);
}
.title {
  margin-right: 30px;
  margin-left: 40px;
  margin-top: 15px;
  width: 60px;
  height: 60px;
}
.navbar {
  background-color: rgb(38, 38, 54);
  display: flex;
  align-items: center;
}

ul {
  margin-left: 40%;
}
li a {
  margin: 0 30px;
  font-family: "Abril Fatface";
  color: rgb(73, 14, 14);
}
.navbar-top {
  background-color: rgb(38, 38, 54);
  display: flex;
  align-items: center;
}

.navbar ul li {
  display: inline;
}
