.navbar-2 {
  width: 100%;
  display: inline;
}

.sidenav {
  background-color: rgb(38, 38, 54);
  /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 75px; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 70px;
}

.sidenav a {
  font-family: "Abril Fatface", serif;
  padding: 1px 1px 30px 26px;
  text-decoration: none;

  line-height: -40vh;
  font-size: 20px;
  color: #e9e0e0;
  display: block;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
