.horizontal-slider {
  display: block;
  width: 100%;
  margin-top: 12px;
  position: relative;
  margin-left: 160px;
}
.slider-container {
  display: block;
  white-space: nowrap;
}

.item {
  display: inline-block;
  margin-right: 10px;
}

.item img {
  width: 100%;
  height: 600px;
}

img {
  height: 600px;
}

/*categories CSS */

.categories-image {
  height: 130px;
}

.icon {
  height: 120px;
  opacity: 0.5;
  transition: transform 0.2s;
}

.icon:hover {
  opacity: 1;
  transform: scale(1.2);
}

.iconcontainer {
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-left: 170px;
  margin-top: 80px;
}
